.starWrap {
    display: flex;
    width: 230px;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(124, 124, 124);
}

    .star {
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .lightStar {
        background-image: url(../../imgs/star_green.svg);
    }

    .darkStar {
        background-image: url(../../imgs/star.svg);
    }